
{% extends "layout.html" %}

{% block content %}
  <main class="hero-section">
    <div class="container">
      

      <div class="section-map">
        <div class="nav">


          <form method="POST" enctype = "multipart/form-data" >
            {{ form.hidden_tag() }}


            
            <div class="form-group">

            {% with messages = get_flashed_messages() %}
                  {% if messages %}
                    <ul>
                    {% for message in messages %}
                        <li>{{ message }} </li>
                    {% endfor %}
                    </ul>
                  {% endif %}
                {% endwith %}

            Question 1

            {{ form.q1a.label }}

            {{ form.q1a() }}


              {% if form.q1a.errors %}
                {% for error in form.q1a.errors %}
                  <p class="error-message">{{ error }}</p>
                {% endfor %}
              {% elif form.check.data %}
			{% if form.q1a.data is not none %}
				{% if form.q1a.errors %}
					{% for error in form.q1a.errors %}
						<p class = "error-message">{{ error }}</p>
					{% endfor %}

				{% else %}

             			 	<p class="correct-message"> Correct </p>
				{% endif %}
			{% endif %}
              {% endif %}

                    {{ form.q1b.label }}

            {{ form.q1b() }}


              {% if form.q1b.errors %}
                {% for error in form.q1b.errors %}
                  <p class="error-message">{{ error }}</p>
                {% endfor %}
              {% elif form.check.data %}
			{% if form.q1b.data is not none %}
				{% if form.q1b.errors %}
					{% for error in form.q1b.errors %}
						<p class = "error-message">{{ error }}</p>
					{% endfor %}

				{% else %}

             			 	<p class="correct-message"> Correct </p>
				{% endif %}
			{% endif %}
              {% endif %}

                    {{ form.q1c.label }}

            {{ form.q1c() }}


              {% if form.q1c.errors %}
                {% for error in form.q1c.errors %}
                  <p class="error-message">{{ error }}</p>
                {% endfor %}
              {% elif form.check.data %}
			{% if form.q1c.data is not none %}
				{% if form.q1c.errors %}
					{% for error in form.q1c.errors %}
						<p class = "error-message">{{ error }}</p>
					{% endfor %}

				{% else %}

             			 	<p class="correct-message"> Correct </p>
				{% endif %}
			{% endif %}
              {% endif %}

            <br>
            <br>

            Question 2


            {{ form.q2a.label }}
            {{ form.q2a() }}

              {% if form.q2a.errors %}
                {% for error in form.q2a.errors %}
                  <p class="error-message">{{ error }}</p>
                {% endfor %}
                {% elif form.check.data  %}
			{% if form.q2a.data is not none %}
                		<p class="correct-message"> Correct </p>
             		{% endif %}
		 {% endif %}

                    {{ form.q2b.label }}
            {{ form.q2b() }}

              {% if form.q2b.errors %}
                {% for error in form.q2b.errors %}
                  <p class="error-message">{{ error }}</p>
                {% endfor %}
                {% elif form.check.data  %}
			{% if form.q2b.data is not none %}
                		<p class="correct-message"> Correct </p>
             		{% endif %}
		 {% endif %}

                    {{ form.q2c.label }}
            {{ form.q2c() }}

              {% if form.q2c.errors %}
                {% for error in form.q2c.errors %}
                  <p class="error-message">{{ error }}</p>
                {% endfor %}
                {% elif form.check.data  %}
			{% if form.q2c.data is not none %}
                		<p class="correct-message"> Correct </p>
             		{% endif %}
		 {% endif %}

            <br>
            <br>

            Question 3


            {{ form.q3a.label }}
            {{ form.q3a() }}

              {% if form.q3a.errors %}
                {% for error in form.q3a.errors %}
                  <p class="error-message">{{ error }}</p>
                {% endfor %}
                {% elif form.check.data %}
                {% if form.q3a.data is not none %}
                <p class="correct-message"> Correct </p>
              {% endif %}
              {% endif %}


                    {{ form.q3b.label }}
            {{ form.q3b() }}

              {% if form.q3b.errors %}
                {% for error in form.q3b.errors %}
                  <p class="error-message">{{ error }}</p>
                {% endfor %}
                {% elif form.check.data %}
                {% if form.q3b.data is not none %}
                <p class="correct-message"> Correct </p>
              {% endif %}
              {% endif %}

                    {{ form.q3c.label }}
            {{ form.q3c() }}

              {% if form.q3c.errors %}
                {% for error in form.q3c.errors %}
                  <p class="error-message">{{ error }}</p>
                {% endfor %}
                {% elif form.check.data %}
                {% if form.q3c.data is not none %}
                <p class="correct-message"> Correct </p>
              {% endif %}
              {% endif %}

        <br>

	</div>

	<div>
           

            {{ form.check (class ="btn-primary")  }}
      
           
            {{ form.submit (class = "btn-primary")  }}
            </div>
             </form>
       
      
      <div class="clearfix"></div>
    </div>
  </main>


{% endblock %}

