
{% extends "layout.html" %}

{% block content %}
  <main class="hero-section">
    <div class="container">
      

      <div class="section-map">
        <div class="nav">


          <form method="POST" enctype = "multipart/form-data" >
            {{ form.hidden_tag() }}


            
            <div class="form-group">

            {% with messages = get_flashed_messages() %}
                  {% if messages %}
                    <ul>
                    {% for message in messages %}
                        <li>{{ message }} </li>
                    {% endfor %}
                    </ul>
                  {% endif %}
                {% endwith %}

            Question 1

            {{ form.q1.label }}

            {{ form.q1() }}


              {% if form.q1.errors %}
                {% for error in form.q1.errors %}
                  <p class="error-message">{{ error }}</p>
                {% endfor %}
              {% elif form.check.data %}
			{% if form.q1.data is not none %}
				{% if form.q1.errors %}
					{% for error in form.q1.errors %}
						<p class = "error-message">{{ error }}</p>
					{% endfor %}

				{% else %}

             			 	<p class="correct-message"> Correct. Make sure you can explain your reasoning.</p>
				{% endif %}
			{% endif %}
              {% endif %}

                <br>
		<br>
		Question 2

                    {{ form.q2a.label }}

            {{ form.q2a() }}


              {% if form.q2a.errors %}
                {% for error in form.q2a.errors %}
                  <p class="error-message">{{ error }}</p>
                {% endfor %}
              {% elif form.check.data %}
			{% if form.q2a.data is not none %}
				{% if form.q2a.errors %}
					{% for error in form.q2a.errors %}
						<p class = "error-message">{{ error }}</p>
					{% endfor %}

				{% else %}

             			 	<p class="correct-message"> Correct </p>
				{% endif %}
			{% endif %}
              {% endif %}

                    {{ form.q2b.label }}

            {{ form.q2b() }}


              {% if form.q2b.errors %}
                {% for error in form.q2b.errors %}
                  <p class="error-message">{{ error }}</p>
                {% endfor %}
              {% elif form.check.data %}
			{% if form.q2b.data is not none %}
				{% if form.q2b.errors %}
					{% for error in form.q2b.errors %}
						<p class = "error-message">{{ error }}</p>
					{% endfor %}

				{% else %}

             			 	<p class="correct-message"> This is within the correct range </p>
				{% endif %}
			{% endif %}
              {% endif %}

            <br>
            <br>
	    <br>
	    <br>

        <br>

	</div>

	<div>
           

            {{ form.check (class ="btn-primary")  }}
      
           
            {{ form.submit (class = "btn-primary")  }}
            </div>
             </form>
       
      
      <div class="clearfix"></div>
    </div>
  </main>


{% endblock %}

