{% extends "layout.html" %}
{% block content %}

    {% block javascript %}
    <SCRIPT SRC="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></SCRIPT>
{% endblock %}

<div class = "landingText">
 Can you indicate which of the scenarios in this figure would not result in a miscount when using approach A? Explain why.
</div>

<img src = "http://imgur.com/FP7sU69"> 




            <form method="POST" >
            {{ form.hidden_tag() }}



            <div class="query-group">
            {{ form.studentno.label }}
            {{ form.studentno() }}
                <br><br>
            {{ form.records.label }}
            {{ form.records() }}
            {{ form.submit(class="btn-primary") }}
         
            </div>

            {%  if studentno %}
                            <div class="query-group">


                {{  records }}
            {{ studentno }}
                {% for item in result %}
                    <li>{{ item.submissiontime }}</li>
                    <li>{{ item.q1 }}</li>
                    <li>{{ item.q2a }}</li>
                    <li>{{ item.q2b }}</li>
                    <br>
                    <br>







                {% endfor %}

            {% endif %}

            </form>

{% endblock %}
