{% extends "layout.html" %}
{% block content %}
            <form method="POST" >
            {{ form.hidden_tag() }}

            <div class="query-group">
                <br><br>


            {{ form.records.label }}
            {{ form.records() }}




            {{ form.submit(class="btn-primary") }}

            </div>

            {%  if studentno %}
                            <div class="query-group">


                {{  records }}
            {{ studentno }}
                {% for item in result %}
                    <li>{{ item.submissiontime }}</li>
                    <li>{{ item.q1 }}</li>
                    <li>{{ item.q2a }}</li>
                    <li>{{ item.q2b }}</li>
                    <br>
                    <br>



                {% endfor %}

            {% endif %}
                </div>

            </form>


{% endblock %}
