[Unit]
Description = SCIE2100 Deamon

[Service]
User = gabe
WorkingDirectory = /home/gabe/quiz
ExecStart = /home/gabe/.local/bin/uwsgi --ini /home/gabe/quiz/uwsgi.ini

[Install]
WantedBy = multi-user.target
