
{% extends "layout.html" %}

{% block content %}
  <main class="hero-section">
    <div class="container">
      

      <div class="section-map">
        <div class="nav">

       <p class="error-message"> Question 1 is worth 2 marks, Question 2 is worth 2 marks, <br> Question 3 is worth 3 marks.</class>

          <form method="POST" enctype = "multipart/form-data" >
            {{ form.hidden_tag() }}


            
            <div class="form-group">

            {% with messages = get_flashed_messages() %}
                  {% if messages %}
                    <ul>
                    {% for message in messages %}
                        <li>{{ message }} </li>
                    {% endfor %}
                    </ul>
                  {% endif %}
                {% endwith %}



            {{ form.q1.label }}

            {{ form.q1() }}


              {% if form.q1.errors %}
                {% for error in form.q1.errors %}
                  <p class="error-message">{{ error }}</p>
                {% endfor %}
              {% elif form.check.data %}
			{% if form.q1.data is not none %}
				{% if form.q1.errors %}
					{% for error in form.q1.errors %}
						<p class = "error-message">{{ error }}</p>
					{% endfor %}

				{% else %}

             			 	<p class="correct-message"> Correct - the Sequence class wouldn't be able to work out that alphabet </p>
				{% endif %}
			{% endif %}
              {% endif %}


            {{ form.q2.label }}
            {{ form.q2() }}

              {% if form.q2.errors %}
                {% for error in form.q2.errors %}
                  <p class="error-message">{{ error }}</p>
                {% endfor %}
                {% elif form.check.data  %}
			{% if form.q2.data is not none %}
                		<p class="correct-message"> Submitted </p>
             		{% endif %}
		 {% endif %}



            {{ form.q3.label }}
            {{ form.q3() }}

              {% if form.q3.errors %}
                {% for error in form.q3.errors %}
                  <p class="error-message">{{ error }}</p>
                {% endfor %}
                {% elif form.check.data %}
                {% if form.q3.data is not none %}
                <p class="correct-message"> Correct </p>
              {% endif %}
              {% endif %}

            </div>


            <br>
            

            <div class>
            {{ form.check (class ="btn-primary")  }}
      
           
            {{ form.submit (class = "btn-primary")  }}
            </div>
             </form>
        </div>
        </div>

      
      <div class="clearfix"></div>
    </div>
  </main>


{% endblock %}

