{% extends "layout.html" %}
{% block content %}
<div class="landingText" >
    {% if first_time %}
        Thanks for registering. Please check your email address and confirm your account. <br><br>
    {%  endif %}

    {{ registration_message }} <br>

    Logged in as {{  studentno }}<br><br>
    Click on the assessment you wish to complete <br><br>

    <a href="{{ url_for('practice') }}">Practice Quiz</a><br>
    <a href="{{ url_for('scie2100_practical1') }}">SCIE2100 Practical 1</a><br>
    <a href="{{ url_for('scie2100_practical2') }}">SCIE2100 Practical 2</a><br>
    <a href="{{ url_for('scie2100_practical3') }}">SCIE2100 Practical 3</a><br>
    <a href="{{ url_for('scie2100_practical4') }}">SCIE2100 Practical 4</a><br><br>


    In-class assessments <br><br>
    <a href="{{ url_for('scie2100_practicalassessment1') }}">In class Practical Assessment 1</a><br><br>
{#    <a href="{{ url_for('scie2100_practicalassessment2') }}">In class Practical Assessment 2</a><br><br>#}


    <a href="{{ url_for('submissiondynamic') }}">View submissions</a> <br><br>

    {%   if admin %}

        For tutors: <br>
            <a href="{{ url_for('query') }}">Query a single student's submission</a><br>
            <a href="{{ url_for('marking') }}">Generate a marking report for all students</a>
    {%  endif %}


</div>

{% endblock %}
