{% extends "layout.html" %}
{#{% from "_form_macros.html" import render_field %}#}


{% block content %}

<div class="landingText" >
    <br>
    <br>



  <form action="{{ url_for('reset') }}" method="POST">
    {{ form.csrf_token }}
          Email Address:

        {{  form.email }} <br>
{#      {{ render_field(form.email, placeholder="Enter Email Address") }}#}
    <button class="btn-primary" type="submit">Submit</button>
          <p class="error-message">{{ error }}</p>

  </form>
</div>

{% endblock %}

