{% extends "layout.html" %}
{% block content %}

    {% block javascript %}
    <SCRIPT SRC="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></SCRIPT>
{% endblock %}

            <form method="POST" >
            {{ form.hidden_tag() }}

            <div class="query-group">
            {{ form.studentno.label }}
            {{ form.studentno() }}
                <br><br>
            {{ form.records.label }}
            {{ form.records() }}
            {{ form.submit(class="btn-primary") }}
            {{ form.download(class="btn-primary") }}
            </div>

            {%  if studentno %}
                            <div class="query-group">


                {{  records }}
            {{ studentno }}
                {% for item in result %}
                    <li>{{ item.submissiontime }}</li>
                    <li>{{ item.q1 }}</li>
                    <li>{{ item.q2 }}</li>
                    <li>{{ item.q3 }}</li>
                    <br>
                    <br>







                {% endfor %}

            {% endif %}
                <div class="info">
                    {% for item in code_output %}
                        {{ item|safe }}
                         -------------------------------------------------------------
                    {%  endfor %}

{#                        {{code_output|safe}}#}
                </div>

                </div>

            </form>


{% endblock %}
