
{% extends "layout.html" %}
{#{% from "_form_macros.html" import render_field %}#}


{% block content %}

<div class="landingText" >
    <br>
    <br>



  <form action="{{ url_for('reset_with_token', token=token) }}" method="POST">
    {{ form.csrf_token }}
          New Password:

        {{  form.password }} <br>
{#      {{ render_field(form.email, placeholder="Enter Email Address") }}#}
    <button class="btn-primary" type="submit">Update</button>
          <p class="error-message">{{ error }}</p>

  </form>
</div>

{% endblock %}

