
{% extends "layout.html" %}

{% block content %}
  <main class="hero-section">
    <div class="container">



      <div class="section-map">
        <div class="nav">
            Practical 5

            <p class = "big-error-message">{{ error }}</p>





          <form method="POST" enctype = "multipart/form-data" >
            {{ form.hidden_tag() }}


            
            <div class="form-group">

            {% with messages = get_flashed_messages() %}
                  {% if messages %}
                    <ul>
                    {% for message in messages %}
                        <li>{{ message }} </li>
                    {% endfor %}
                    </ul>
                  {% endif %}
                {% endwith %}

            {% for question in questions %}

            {{ form[question].label}}

            {{ form[question] }}


              {% if form[question].errors %}
                {% for error in form[question].errors %}
                  <p class="error-message">{{ error }}</p>
                {% endfor %}
              {% elif form.check.data %}
			{% if form[question].data is not none %}
				{% if form[question].errors %}
					{% for error in form[question].errors %}
						<p class = "error-message">{{ error }}</p>
					{% endfor %}

				{% else %}

             			 	<p class="correct-message"> Answer accepted </p>
				{% endif %}
			{% endif %}
              {% endif %}
            {%  endfor %}



	</div>

	<div>
           

            {{ form.check (class ="btn-primary")  }}
      
           
            {{ form.submit (class = "btn-primary")  }}
            </div>
             </form>
         Note: You should upload any code or images as a final step before hitting submit. If you check your answers
        while filling out this quiz, please reupload any code or images.
      
      <div class="clearfix"></div>
    </div>
  </main>


{% endblock %}

