
{% extends "layout.html" %}

{% block content %}
  <main class="hero-section">
    <div class="container">


      <div class="section-map">
        <div class="nav">

          <form method="POST" enctype = "multipart/form-data" >
            {{ form.hidden_tag() }}



            <div class="form-group">

            {% with messages = get_flashed_messages() %}
                  {% if messages %}
                    <ul>
                    {% for message in messages %}
                        <li>{{ message }} </li>
                    {% endfor %}
                    </ul>
                  {% endif %}
                {% endwith %}
            </div>


                <div class="form-group">
            {{ form.q1_code.label }}
            {{ form.q1_code() }}

              {% if form.q1_code.errors %}
                {% for error in form.q1_code.errors %}
                  <p class="error-message">{{ error }}</p>
                {% endfor %}
                {% elif form.check.data  %}
			{% if form.q1_code.data is not none %}
                		<p class="correct-message"> Accepted </p>
             		{% endif %}
		 {% endif %}

            </div>





            <div class="form-group">
            {{ form.q2.label }}
            {{ form.q2() }}

              {% if form.q2.errors %}
                {% for error in form.q2.errors %}
                  <p class="error-message">{{ error }}</p>
                {% endfor %}
                {% elif form.check.data  %}
			{% if form.q2.data is not none %}
                		<p class="correct-message"> Accepted </p>
             		{% endif %}
		 {% endif %}

            </div>



            <div class="form-group">
            {{ form.q3.label }}
            {{ form.q3() }}

              {% if form.q3.errors %}
                {% for error in form.q3.errors %}
                  <p class="error-message">{{ error }}</p>
                {% endfor %}
                {% elif form.check.data %}
                {% if form.q3.data is not none %}
                <p class="correct-message"> Accepted </p>
              {% endif %}
              {% endif %}

            </div>

                  <div class="form-group">
            {{ form.q4.label }}
            {{ form.q4() }}

              {% if form.q4.errors %}
                {% for error in form.q4.errors %}
                  <p class="error-message">{{ error }}</p>
                {% endfor %}
                {% elif form.check.data %}
                {% if form.q4.data is not none %}
                <p class="correct-message"> Accepted </p>
              {% endif %}
              {% endif %}

            </div>

                <div class="joined-group">

                <form-title>Secondary structure prediction for a single protein</form-title>

                {{ form.q5a1.label }}
                {{ form.q5a1() }}

                  {% if form.q5a1.errors %}
                    {% for error in form.q5a1.errors %}
                      <p class="error-message">{{ error }}</p>
                    {% endfor %}
                    {% elif form.check.data %}
                    {% if form.q5a1.data is not none %}
                    <p class="correct-message"> Accepted </p>
                  {% endif %}
                  {% endif %}
                <br>

                      {{ form.q5a2.label }}
      {{ form.q5a2() }}

        {% if form.q5a2.errors %}
          {% for error in form.q5a2.errors %}
            <p class="error-message">{{ error }}</p>
          {% endfor %}
          {% elif form.check.data %}
          {% if form.q5a2.data is not none %}
          <p class="correct-message"> Accepted </p>
        {% endif %}
        {% endif %}

                      {{ form.q5a3.label }}
      {{ form.q5a3() }}

        {% if form.q5a3.errors %}
          {% for error in form.q5a3.errors %}
            <p class="error-message">{{ error }}</p>
          {% endfor %}
          {% elif form.check.data %}
          {% if form.q5a3.data is not none %}
          <p class="correct-message"> Accepted </p>
        {% endif %}
        {% endif %}

                      {{ form.q5a4.label }}
      {{ form.q5a4() }}

        {% if form.q5a4.errors %}
          {% for error in form.q5a4.errors %}
            <p class="error-message">{{ error }}</p>
          {% endfor %}
          {% elif form.check.data %}
          {% if form.q5a4.data is not none %}
          <p class="correct-message"> Accepted </p>
        {% endif %}
        {% endif %}




                {{ form.q5b.label }}
                {{ form.q5b() }}

                  {% if form.q5b.errors %}
                    {% for error in form.q5b.errors %}
                      <p class="error-message">{{ error }}</p>
                    {% endfor %}
                    {% elif form.check.data %}
                    {% if form.q5b.data is not none %}
                    <p class="correct-message"> Accepted </p>
                  {% endif %}
                  {% endif %}






                {{ form.q5c.label }}
                {{ form.q5c() }}

                  {% if form.q5c.errors %}
                    {% for error in form.q5c.errors %}
                      <p class="error-message">{{ error }}</p>
                    {% endfor %}
                    {% elif form.check.data %}
                    {% if form.q5c.data is not none %}
                    <p class="correct-message"> Accepted </p>
                  {% endif %}
                  {% endif %}







                {{ form.q5d.label }}
                {{ form.q5d() }}

                  {% if form.q5d.errors %}
                    {% for error in form.q5d.errors %}
                      <p class="error-message">{{ error }}</p>
                    {% endfor %}
                    {% elif form.check.data %}
                    {% if form.q5d.data is not none %}
                    <p class="correct-message"> Accepted </p>
                  {% endif %}
                  {% endif %}




                        {{ form.q5e_code.label }}
                        {{ form.q5e_code() }}

                          {% if form.q5e_code.errors %}
                            {% for error in form.q5e_code.errors %}
                              <p class="error-message">{{ error }}</p>
                            {% endfor %}
                            {% elif form.check.data  %}
                  {% if form.q5e_code.data is not none %}
                                <p class="correct-message"> Accepted </p>
                            {% endif %}
                 {% endif %}

                        </div>

            <div class="tight-joined-group">

                <form-title>Accuracy assessments for alpha-helices</form-title>


                         {{ form.q6a1.label }}
                         {{ form.q6a1() }}

                           {% if form.q6a1.errors %}
                             {% for error in form.q6a1.errors %}
                               <p class="error-message">{{ error }}</p>
                             {% endfor %}
                             {% elif form.check.data %}
                             {% if form.q6a1.data is not none %}
                             <p class="correct-message"> Accepted </p>
                           {% endif %}
                           {% endif %}

                               {{ form.q6a2.label }}
               {{ form.q6a2() }}

                 {% if form.q6a2.errors %}
                   {% for error in form.q6a2.errors %}
                     <p class="error-message">{{ error }}</p>
                   {% endfor %}
                   {% elif form.check.data %}
                   {% if form.q6a2.data is not none %}
                   <p class="correct-message"> Accepted </p>
                 {% endif %}
                 {% endif %}

                               {{ form.q6a3.label }}
               {{ form.q6a3() }}

                 {% if form.q6a3.errors %}
                   {% for error in form.q6a3.errors %}
                     <p class="error-message">{{ error }}</p>
                   {% endfor %}
                   {% elif form.check.data %}
                   {% if form.q6a3.data is not none %}
                   <p class="correct-message"> Accepted </p>
                 {% endif %}
                 {% endif %}

                               {{ form.q6a4.label }}
               {{ form.q6a4() }}

                 {% if form.q6a4.errors %}
                   {% for error in form.q6a4.errors %}
                     <p class="error-message">{{ error }}</p>
                   {% endfor %}
                   {% elif form.check.data %}
                   {% if form.q6a4.data is not none %}
                   <p class="correct-message"> Accepted </p>
                 {% endif %}
                 {% endif %}

                                 {{ form.q6a5.label }}
                 {{ form.q6a5() }}

                   {% if form.q6a5.errors %}
                     {% for error in form.q6a5.errors %}
                       <p class="error-message">{{ error }}</p>
                     {% endfor %}
                     {% elif form.check.data %}
                     {% if form.q6a5.data is not none %}
                     <p class="correct-message"> Accepted </p>
                   {% endif %}
                   {% endif %}

                         </div>

                      <div class="tight-joined-group">

                     <form-title> Accuracy assessments for beta-strands </form-title>
                         {{ form.q6b1.label }}
                         {{ form.q6b1() }}

                           {% if form.q6b1.errors %}
                             {% for error in form.q6b1.errors %}
                               <p class="error-message">{{ error }}</p>
                             {% endfor %}
                             {% elif form.check.data %}
                             {% if form.q6b1.data is not none %}
                             <p class="correct-message"> Accepted </p>
                           {% endif %}
                           {% endif %}

                               {{ form.q6b2.label }}
               {{ form.q6b2() }}

                 {% if form.q6b2.errors %}
                   {% for error in form.q6b2.errors %}
                     <p class="error-message">{{ error }}</p>
                   {% endfor %}
                   {% elif form.check.data %}
                   {% if form.q6b2.data is not none %}
                   <p class="correct-message"> Accepted </p>
                 {% endif %}
                 {% endif %}

                               {{ form.q6b3.label }}
               {{ form.q6b3() }}

                 {% if form.q6b3.errors %}
                   {% for error in form.q6b3.errors %}
                     <p class="error-message">{{ error }}</p>
                   {% endfor %}
                   {% elif form.check.data %}
                   {% if form.q6b3.data is not none %}
                   <p class="correct-message"> Accepted </p>
                 {% endif %}
                 {% endif %}

                               {{ form.q6b4.label }}
               {{ form.q6b4() }}

                 {% if form.q6b4.errors %}
                   {% for error in form.q6b4.errors %}
                     <p class="error-message">{{ error }}</p>
                   {% endfor %}
                   {% elif form.check.data %}
                   {% if form.q6b4.data is not none %}
                   <p class="correct-message"> Accepted </p>
                 {% endif %}
                 {% endif %}

                                 {{ form.q6b5.label }}
                 {{ form.q6b5() }}

                   {% if form.q6b5.errors %}
                     {% for error in form.q6b5.errors %}
                       <p class="error-message">{{ error }}</p>
                     {% endfor %}
                     {% elif form.check.data %}
                     {% if form.q6b5.data is not none %}
                     <p class="correct-message"> Accepted </p>
                   {% endif %}
                   {% endif %}

                         </div>

                      <div class="tight-joined-group">

                          <form-title> Accuracy assessments for combined (alpha-helices and beta-strands)</form-title>
                         {{ form.q6c1.label }}
                         {{ form.q6c1() }}

                           {% if form.q6c1.errors %}
                             {% for error in form.q6c1.errors %}
                               <p class="error-message">{{ error }}</p>
                             {% endfor %}
                             {% elif form.check.data %}
                             {% if form.q6c1.data is not none %}
                             <p class="correct-message"> Accepted </p>
                           {% endif %}
                           {% endif %}

                               {{ form.q6c2.label }}


               {{ form.q6c2() }}

                 {% if form.q6c2.errors %}
                   {% for error in form.q6c2.errors %}
                     <p class="error-message">{{ error }}</p>
                   {% endfor %}
                   {% elif form.check.data %}
                   {% if form.q6c2.data is not none %}
                   <p class="correct-message"> Accepted </p>
                 {% endif %}
                 {% endif %}

                               {{ form.q6c3.label }}
               {{ form.q6c3() }}

                 {% if form.q6c3.errors %}
                   {% for error in form.q6c3.errors %}
                     <p class="error-message">{{ error }}</p>
                   {% endfor %}
                   {% elif form.check.data %}
                   {% if form.q6c3.data is not none %}
                   <p class="correct-message"> Accepted </p>
                 {% endif %}
                 {% endif %}

                               {{ form.q6c4.label }}
               {{ form.q6c4() }}

                 {% if form.q6c4.errors %}
                   {% for error in form.q6c4.errors %}
                     <p class="error-message">{{ error }}</p>
                   {% endfor %}
                   {% elif form.check.data %}
                   {% if form.q6c4.data is not none %}
                   <p class="correct-message"> Accepted </p>
                 {% endif %}
                 {% endif %}

                                 {{ form.q6c5.label }}
                 {{ form.q6c5() }}

                   {% if form.q6c5.errors %}
                     {% for error in form.q6c5.errors %}
                       <p class="error-message">{{ error }}</p>
                     {% endfor %}
                     {% elif form.check.data %}
                     {% if form.q6c5.data is not none %}
                     <p class="correct-message"> Accepted </p>
                   {% endif %}
                   {% endif %}

                             {{ form.q6d_code.label }}
       {{ form.q6d_code() }}

         {% if form.q6d_code.errors %}
           {% for error in form.q6d_code.errors %}
             <p class="error-message">{{ error }}</p>
           {% endfor %}
           {% elif form.check.data  %}
 {% if form.q6d_code.data is not none %}
               <p class="correct-message"> Accepted </p>
           {% endif %}
{% endif %}


                         </div>


            <div class>
            {{ form.check (class ="btn-primary")  }}


            {{ form.submit (class = "btn-primary")  }}
            </div>
             </form>
        </div>
        </div>


      <div class="clearfix"></div>
    </div>
  </main>


{% endblock %}

