{% extends "layout.html" %}
{% block content %}
            <form method="POST" >
            {{ form.hidden_tag() }}

            <div class="query-group">
                <br><br>

                {{ form.assessment_item.label }}
                {{ form.assessment_item() }}

                <br><br>

            {{ form.records.label }}
            {{ form.records() }}




            {{ form.submit(class="btn-primary") }}
                <p class="error-message">{{ errors }}</p>

            </div>
            

            {%  if studentno %}
                            <div class="query-group">



                {{  records }}
            {{ studentno }}
                {% for item in result %}
                    <li>{{ item }}</li>
                    <br>
                    <br>



                {% endfor %}

            {% endif %}
                </div>

            </form>


{% endblock %}
