{% extends "layout.html" %}
{% block content %}
<form method="POST" >
    {{ form.hidden_tag() }}
    <div class="query-group"><br><br>
        {{ form.assessment_item.label }}
        {{ form.assessment_item() }}<br><br>
        {{ form.records.label }}
        {{ form.records() }}
        {{ form.submit(class="btn-primary") }}
        <p class="error-message">{{ errors }}</p>
    </div>

    {%  if studentno %}
        <div class="query-group">
        {{  records }}
        {{ studentno }}


        {% for result in results %} <br>
            <p class="notice-text"> Result</p>
            {{ result.submission_time }}
                {% if result.correct == false %}
                    <p class="error-message">This response contains incorrect answers</p>

                {%  else %}
                            <p class="correct-message"> This response has all correct answers</p>
                {%  endif %}

                {% for item in result.results %}
                    <li>{{ item[0] + ":" + item[1] }}</li>
                {% endfor %} <br><br>

                Here is the submitted code

                {% for item in result.code_list %}
                    <li>{{ item[0] + ":" + item[1] |safe  }}</li>
                {% endfor %}

                Here are the submitted images

                {% for item in result.image_list %}

                    <li>{{ item[0] + ":"   }}</li>
                    <img src="{{ item[1] }}" alt="{{ item[0] + "_image" }}">
                {% endfor %}
        {%  endfor %}
        </div>
    {% endif %}


{% endblock %}
